* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 12, 12);
}
main div {
    padding: 2em;
    text-align: center;
}
main {
    display: grid;
    grid-template-areas: 
    'a a a b b'
    'a a a b b'
    'c c d d d'
    'c c e e e'
    'c c e e e'
    ;
    width: 50%;
    gap: 10px;
    height: 100vh;
    margin: auto;
}
.first-content {
    background-color: rgb(227, 136, 38);
    grid-area: a;
    padding: 2em;
}
.second-content {
    background-color: #006970;
    grid-area: b;
    padding: 2em;
}
.third-content {
    background-color: #004241;
    grid-area: c;
    padding: 2em;
}
.fourth-content {
    background-color: rgb(227, 243, 243);
    grid-area: d;
    padding: 2em;
}
.fifth-content {
    background-color: rgb(77, 102, 102);
    grid-area: e;
    padding: 2em;
}

